{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>FinFlip Features</h1>
    <p>Explore the powerful tools and resources FinFlip offers:</p>
    <ul>
        <li>Budgeting & Tracking</li>
        <li>Resale Marketplace</li>
        <li>Carpooling</li>
        <li>Personalized Recommendations</li>
        <li>Financial Education Resources</li>
        <li>Investment Tracking</li>
        <li>Debt Management Tools</li>
        <li>Financial Goal Setting</li>
    </ul>
</div>
{% endblock %}
